resources/wsdl/user.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.library.nmocs.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserService" targetNamespace="http://webservice.library.nmocs.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.library.nmocs.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.library.nmocs.fr/">
  <xs:element name="createUser" type="tns:createUser"/>
  <xs:element name="createUserResponse" type="tns:createUserResponse"/>
  <xs:element name="downgradeAdminToBasicUser" type="tns:downgradeAdminToBasicUser"/>
  <xs:element name="downgradeAdminToBasicUserResponse" type="tns:downgradeAdminToBasicUserResponse"/>
  <xs:element name="findByEmail" type="tns:findByEmail"/>
  <xs:element name="findByEmailResponse" type="tns:findByEmailResponse"/>
  <xs:element name="findById" type="tns:findById"/>
  <xs:element name="findByIdResponse" type="tns:findByIdResponse"/>
  <xs:element name="findByName" type="tns:findByName"/>
  <xs:element name="findByNameResponse" type="tns:findByNameResponse"/>
  <xs:element name="grantAdminRightsToUser" type="tns:grantAdminRightsToUser"/>
  <xs:element name="grantAdminRightsToUserResponse" type="tns:grantAdminRightsToUserResponse"/>
  <xs:element name="updateUser" type="tns:updateUser"/>
  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
  <xs:complexType name="findById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downgradeAdminToBasicUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="adminId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downgradeAdminToBasicUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByEmailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grantAdminRightsToUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grantAdminRightsToUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:admin"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="admin">
    <xs:complexContent>
      <xs:extension base="tns:user">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibraryWebserviceException" type="tns:LibraryWebserviceException"/>
  <xs:complexType name="LibraryWebserviceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="token" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findById">
    <wsdl:part element="tns:findById" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part element="tns:findByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByNameResponse">
    <wsdl:part element="tns:findByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByEmail">
    <wsdl:part element="tns:findByEmail" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part element="tns:createUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="grantAdminRightsToUserResponse">
    <wsdl:part element="tns:grantAdminRightsToUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downgradeAdminToBasicUserResponse">
    <wsdl:part element="tns:downgradeAdminToBasicUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part element="tns:createUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LibraryWebserviceException">
    <wsdl:part element="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downgradeAdminToBasicUser">
    <wsdl:part element="tns:downgradeAdminToBasicUser" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByEmailResponse">
    <wsdl:part element="tns:findByEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByName">
    <wsdl:part element="tns:findByName" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="grantAdminRightsToUser">
    <wsdl:part element="tns:grantAdminRightsToUser" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part element="tns:updateUser" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="findById">
      <wsdl:input message="tns:findById" name="findById">
    </wsdl:input>
      <wsdl:output message="tns:findByIdResponse" name="findByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downgradeAdminToBasicUser">
      <wsdl:input message="tns:downgradeAdminToBasicUser" name="downgradeAdminToBasicUser">
    </wsdl:input>
      <wsdl:output message="tns:downgradeAdminToBasicUserResponse" name="downgradeAdminToBasicUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByEmail">
      <wsdl:input message="tns:findByEmail" name="findByEmail">
    </wsdl:input>
      <wsdl:output message="tns:findByEmailResponse" name="findByEmailResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUser" name="createUser">
    </wsdl:input>
      <wsdl:output message="tns:createUserResponse" name="createUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByName">
      <wsdl:input message="tns:findByName" name="findByName">
    </wsdl:input>
      <wsdl:output message="tns:findByNameResponse" name="findByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="grantAdminRightsToUser">
      <wsdl:input message="tns:grantAdminRightsToUser" name="grantAdminRightsToUser">
    </wsdl:input>
      <wsdl:output message="tns:grantAdminRightsToUserResponse" name="grantAdminRightsToUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUser" name="updateUser">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findById">
        <soap:header message="tns:findById" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downgradeAdminToBasicUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downgradeAdminToBasicUser">
        <soap:header message="tns:downgradeAdminToBasicUser" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="downgradeAdminToBasicUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByEmail">
        <soap:header message="tns:findByEmail" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByName">
        <soap:header message="tns:findByName" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="grantAdminRightsToUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="grantAdminRightsToUser">
        <soap:header message="tns:grantAdminRightsToUser" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="grantAdminRightsToUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:header message="tns:updateUser" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserServiceSoapBinding" name="UserServicePort">
      <soap:address location="http://localhost:8080/01_Library_Webserice/services/user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>