webapp/src/main/resources/wsdl/reservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.library.nmocs.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ReservationService" targetNamespace="http://webservice.library.nmocs.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.library.nmocs.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.library.nmocs.fr/">
  <xs:element name="createReservation" type="tns:createReservation"/>
  <xs:element name="createReservationResponse" type="tns:createReservationResponse"/>
  <xs:element name="deleteReservation" type="tns:deleteReservation"/>
  <xs:element name="deleteReservationResponse" type="tns:deleteReservationResponse"/>
  <xs:element name="findReservationsByUserId" type="tns:findReservationsByUserId"/>
  <xs:element name="findReservationsByUserIdResponse" type="tns:findReservationsByUserIdResponse"/>
  <xs:complexType name="findReservationsByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findReservationsByUserIdResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:reservationDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:bookDTO"/>
      <xs:element minOccurs="0" name="mailedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="reservationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="reserver" type="tns:userDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="reservationQueueInfos" type="tns:reservationQueueDTO"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="summary" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservationQueueDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="availableSamplesNumber" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="borrowers" nillable="true" type="tns:userDTO"/>
      <xs:element minOccurs="0" name="isAvailable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="isReservable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="latestAvailabilityDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="queueMaxSize" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reservers" nillable="true" type="tns:userDTO"/>
      <xs:element minOccurs="0" name="soonestAvailabilityDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="reservation" type="tns:reservationDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservationDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="reservation" type="tns:reservationDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteReservationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="LibraryWebserviceException" type="tns:LibraryWebserviceException"/>
  <xs:complexType name="LibraryWebserviceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="token" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findReservationsByUserId">
    <wsdl:part element="tns:findReservationsByUserId" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReservation">
    <wsdl:part element="tns:createReservation" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReservationResponse">
    <wsdl:part element="tns:createReservationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findReservationsByUserIdResponse">
    <wsdl:part element="tns:findReservationsByUserIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LibraryWebserviceException">
    <wsdl:part element="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteReservationResponse">
    <wsdl:part element="tns:deleteReservationResponse" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteReservation">
    <wsdl:part element="tns:deleteReservation" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:token" name="token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReservationService">
    <wsdl:operation name="findReservationsByUserId">
      <wsdl:input message="tns:findReservationsByUserId" name="findReservationsByUserId">
    </wsdl:input>
      <wsdl:output message="tns:findReservationsByUserIdResponse" name="findReservationsByUserIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReservation">
      <wsdl:input message="tns:createReservation" name="createReservation">
    </wsdl:input>
      <wsdl:output message="tns:createReservationResponse" name="createReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteReservation">
      <wsdl:input message="tns:deleteReservation" name="deleteReservation">
    </wsdl:input>
      <wsdl:output message="tns:deleteReservationResponse" name="deleteReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:LibraryWebserviceException" name="LibraryWebserviceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservationServiceSoapBinding" type="tns:ReservationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findReservationsByUserId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findReservationsByUserId">
        <soap:header message="tns:findReservationsByUserId" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findReservationsByUserIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReservation">
        <soap:header message="tns:createReservation" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteReservation">
        <soap:header message="tns:deleteReservation" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LibraryWebserviceException">
        <soap:fault name="LibraryWebserviceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port binding="tns:ReservationServiceSoapBinding" name="ReservationServicePort">
      <soap:address location="http://localhost:8080/Library_webservice/services/reservation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>