webservice/src/main/webapp/wsdl/TestWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.library.nmocs.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.library.nmocs.fr" xmlns:intf="http://webservice.library.nmocs.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.library.nmocs.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAddition">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdditionResponse">
    <complexType>
     <sequence>
      <element name="getAdditionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAdditionResponse">

      <wsdl:part element="impl:getAdditionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdditionRequest">

      <wsdl:part element="impl:getAddition" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWSImpl">

      <wsdl:operation name="getAddition">

         <wsdl:input message="impl:getAdditionRequest" name="getAdditionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdditionResponse" name="getAdditionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWSImplSoapBinding" type="impl:TestWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAddition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdditionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdditionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWSImplService">

      <wsdl:port binding="impl:TestWSImplSoapBinding" name="TestWSImpl">

         <wsdlsoap:address location="http://localhost:8080/Library_webservice/services/TestWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
